In [19]:
import saspy

sas=saspy.SASsession()

cars=sas.sasdata("cars",'sashelp')

cars=cars.to_df() #将SAS数据集转换为DataFrame

cars.apply(lambda x: x.astype(str).str.upper())

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,ACURA,MDX,SUV,ASIA,ALL,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,ACURA,RSX TYPE S 2DR,SEDAN,ASIA,FRONT,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,ACURA,TSX 4DR,SEDAN,ASIA,FRONT,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,ACURA,TL 4DR,SEDAN,ASIA,FRONT,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,ACURA,3.5 RL 4DR,SEDAN,ASIA,FRONT,43755,39014,3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,VOLVO,C70 LPT CONVERTIBLE 2DR,SEDAN,EUROPE,FRONT,40565,38203,2.4,5.0,197,21,28,3450,105,186
424,VOLVO,C70 HPT CONVERTIBLE 2DR,SEDAN,EUROPE,FRONT,42565,40083,2.3,5.0,242,20,26,3450,105,186
425,VOLVO,S80 T6 4DR,SEDAN,EUROPE,FRONT,45210,42573,2.9,6.0,268,19,26,3653,110,190
426,VOLVO,V40,WAGON,EUROPE,FRONT,26135,24641,1.9,4.0,170,22,29,2822,101,180
427,VOLVO,XC70,WAGON,EUROPE,ALL,35145,33112,2.5,5.0,208,20,27,3823,109,186

In [20]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    int64
 6   Invoice      428 non-null    int64
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(8), object(5)
memory usage: 50.3+ KB